apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: longhorn
  namespace: longhorn
  releaseName: longhorn
  repo: longhorn
  valuesFile: values.yaml

resources:
- configs/s3-secrets.yaml