image:
  pullPolicy: IfNotPresent
  repository: ghcr.io/paperless-ngx/paperless-ngx
  tag: 2.18.1

env:
  PAPERLESS_TIME_ZONE: America/New_York
  PAPERLESS_OCR_LANGUAGE: eng
  PAPERLESS_CONSUMER_POLLING: 60
  PAPERLESS_REDIS: redis://paperless-redis-headless:6379

ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      # nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.0.0/16,172.16.0.0/12"
      nginx.ingress.kubernetes.io/proxy-body-size: 1024m
      external-dns.alpha.kubernetes.io/exclude: 'true'

    hosts:
      - host: paperless.burrell.tech
        paths:
        - path: /
          pathType: Prefix
    tls:
    - secretName: paperless.burrell.tech
      hosts:
      - paperless.burrell.tech

persistence:
  consume:
    enabled: true
    type: nfs
    server: "192.168.1.10"
    path: /Media/Paperless-Consumer
    mountPath: /usr/src/paperless/consume
  data:
    enabled: true
    nameOverride: longhorn-data
    storageClass: longhorn
    size: 100Gi
  media:
    enabled: true
    nameOverride: longhorn-media
    storageClass: longhorn
    size: 25Gi
    mountPath: /usr/src/paperless/media
  export:
    enabled: true
    nameOverride: longhorn-export
    storageClass: longhorn
    size: 25Gi
    mountPath: /usr/src/paperless/export

redis:
  enabled: true

  image:
    pullPolicy: IfNotPresent

  architecture: standalone
  auth:
    enabled: false

  master:
    persistence:
      enabled: false
