apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shinobi-mysql
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: longhorn

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shinobi-media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: longhorn