image:
  repository: docker.seadrive.org/seafileltd/seafile-pro-mc
  tag: 9.0.5

imagePullSecrets:
  - name: image-pull-secret

env:
  SEAFILE_ADMIN_EMAIL: noah@burrell.tech
  SEAFILE_SERVER_HOSTNAME: seafile.burrell.tech
  SEAFILE_ADMIN_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: seafile-sealed-secret
        key: SEAFILE_ADMIN_PASSWORD
  DB_ROOT_PASSWD:
    valueFrom:
      secretKeyRef:
        name: seafile-sealed-secret
        key: DB_ROOT_PASSWD

ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: 1024m
      external-dns.alpha.kubernetes.io/target: 'proxied.burrell.tech'
      external-dns.alpha.kubernetes.io/cloudflare-proxied: 'true'

    hosts:
      - host: seafile.burrell.tech
        paths:
        - path: /
          pathType: Prefix
    tls:
    - secretName: seafile.burrell.tech
      hosts:
      - seafile.burrell.tech
  sso:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/permanent-redirect: "https://seafile.burrell.tech/sso/?next=/"
      external-dns.alpha.kubernetes.io/exclude: "true"
    hosts:
      - host: seafile.burrell.tech
        paths:
        - path: /accounts/login/
          pathType: Prefix
    tls:
    - secretName: seafile.burrell.tech
      hosts:
      - seafile.burrell.tech

persistence:
  shared:
    enabled: true
    nameOverride: longhorn-rwo
    type: pvc
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Ti

mariadb:
  image:
    repository: bitnamilegacy/mariadb
    tag: 10.7.8-debian-11-r6
  enabled: true
  architecture: standalone
  auth:
    database: seafile
    username: seafile
    existingSecret: seafile-sealed-secret
  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 25Gi
    configuration: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/opt/bitnami/mariadb
      plugin_dir=/opt/bitnami/mariadb/plugin
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      tmpdir=/opt/bitnami/mariadb/tmp
      max_allowed_packet=16M
      bind-address=0.0.0.0
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
      log-error=/opt/bitnami/mariadb/logs/mysqld.log
      character-set-server=UTF8
      collation-server=utf8_general_ci
      slow_query_log=0
      slow_query_log_file=/opt/bitnami/mariadb/logs/mysqld.log
      long_query_time=10.0

      [client]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      default-character-set=UTF8
      plugin_dir=/opt/bitnami/mariadb/plugin

      [manager]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid